  <footer>
    <div class="row">
      <div class="container">

      <div class="col-md-2 col-sm-3 col-xs-12">
        <h4>INSTITUCIONAL</h4>
        <ul>
          <li><a href="#">Sobre a logo</a></li>
          <li><a href="#">Fornecedores</a></li>
          <li><a href="#">Sala de imprensa</a></li>
          <li><a href="#">Termos e condições</a></li>
          <li><a href="#">Trabalhe conosco</a></li>
          <li><a href="#">Sustentabilidade</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-12">
        <h4>ATENDIMENTO</h4>
          <ul>
          <li><a href="#">Tipos de entrega</a></li>
          <li><a href="#">Nossas lojas</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>      
      </div>

      <div class="col-md-2 col-sm-3 col-xs-12">
        <h4>CONTATO</h4>
        <ul>
          <li><a href="#">Carrinho</a></li>
          <li><a href="#">Lista de desejos</a></li>
        </ul>      
      </div>

      <div class="col-md-2 hidden-sm hidden-xs"></div>

      <div class="col-md-4 col-sm-3 col-xs-12">
        <address>
          <h4>CONTATE-NOS</h4>
          <p> Rua XXXXXXX XXXXX, XXX, XXXX XXXXXXX - São Paulo/SP, XXXXX-XXX </p>
          <p><abbr title="Telefone">Tel:</abbr> (11) XXXX-XXXX </p>
        </address>
      </div>

    </div>
    </div>
  </footer>
  </body>
</html>