  <footer>
      <ul>
        <li><a href="#"><strong>INSTITUCIONAL</strong></a></li>
        <li><a href="#">Sobre a logo</a></li>
        <li><a href="#">Fornecedores</a></li>
        <li><a href="#">Sala de imprensa</a></li>
        <li><a href="#">Termos e condições</a></li>
        <li><a href="#">Trabalhe conosco</a></li>
        <li><a href="#">Sustentabilidade</a></li>
      </ul>
      <ul>
        <li><a href="#"><strong>CATEGORIAS</strong></a></li>
        <li><a href="#">Feminino</a></li>
        <li><a href="#">Masculino</a></li>
        <li><a href="#">Infantil</a></li>
        <li><a href="#">Roupas</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Sapatos</a></li>
      </ul>
      <ul>
        <li><a href="#"><strong>ATENDIMENTO</strong></a></li>
        <li><a href="#">Tipos de entrega</a></li>
        <li><a href="#">Fale conosco</a></li>
        <li><a href="#">Nossas lojas</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul> 
  </footer>
  </body>
</html>