.pagination>li{
  display: inline-block;
}

.categoria-filter{
  padding: 0;
  float: left;
  label{
    font-weight: 500;
  }
  .categoria{
    margin-bottom: 20px;
    list-style-type: none;
    width: 100%;
    float: left;
    .form-check{
      margin-right: 20px;
      float: left;
    }
  }
}

.ad{
  margin-bottom: 20px;
  max-width: 80%;
}

.path-categoria{
  color: #aaa;
  padding-left: 10px;
  a{
    color: #aaa;
    &:hover{
      color: #000;
    }
  }
}

select{
  border-radius: 5px 5px 0 0;
  outline: none;
  padding-right: 10px;
  option{
    outline: none;
  }
}

.row-categoria{
  hr{
    margin-top: 15px;
  }
}

.shown-filtro{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
    background: #fff;
    z-index: 3;
    display: block;
    width: 100%;
    padding: 0 10%;
}

.toggleFiltro{
  background: none;
  border: none;
  outline: none;
}

.filtroBtn{ 
  background: #fff;
  z-index: 4;
  left: 0;
  transition: all .6s;
}

.filtrarBtn{
  width: 100%;
}