.pagination>li{
  display: inline-block;
}

.categoria-filter{
  padding: 0;
  float: left;
  label{
    font-weight: 500;
  }
  .categoria{
    list-style-type: none;
    width: 100%;
    float: left;
    .form-check{
      margin-right: 20px;
      float: left;
    }
  }
}

.form-check-label{
  position: relative;
}
.ad{
  margin-bottom: 20px;
  max-width: 80%;
}

.path-categoria{
  color: #aaa;
  padding-left: 10px;
  a{
    color: #aaa;
    &:hover{
      color: #000;
    }
  }
}

select{
  border-radius: 5px 5px 0 0;
  outline: none;
  padding-right: 10px;
  border: 1px solid #aaa;
  color: #555;
  option{
    outline: none;
  }
}

.row-categoria{
  hr{
    margin-top: 15px;
  }
}

.shown-filtro{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
    background: #fff;
    z-index: 3;
    display: block;
    width: 100%;
    padding: 0 10%;
    margin-bottom: 15px;
}

.toggleFiltro{
  background: none;
  border: none;
  outline: none;
  position: relative;
  color: #555;
}

.filtroBtn{ 
  background: #fff;
  z-index: 4;
  left: 0;
  transition: all .6s;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.filtrarBtn{
  width: 100%;
  button{
    margin-bottom: 30px;
    @media only screen and (min-width:768px) {
      width: 90%;
    }
  }
}

.botaoStyle-small{
  font-size: 12px;
  padding: 7px;
  transition: .5s;
  &:hover{
    .glyphicon-remove{
      color: #ccc;
    }
  }
  .glyphicon-remove, .glyphicon-ok{
    margin-left: 5px;
    font-size: 12px;
    color: #aaa;
  }
}

.expand{
  font-size: 30px;
}

.expand-adjust{
  position: absolute;
  top: 13px;
  white-space: nowrap;
  margin-left: 10px;
}

.openClose{
  margin-left: 10px;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top: -3px;
  left: 2px;
}

.checkboxStyle{
  position: absolute;
  left: -7px;
  top: 0;
  padding: 8px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 50%;
  background: #fff;
}
