footer{
  background: #111;
  padding: 20px;

  .row{
  	margin: 0;
  }

  [class*='col-']{
    padding: 15px;
    color: #ccc;
  }

  h4{
    margin-top: 0;    
    padding-bottom: 5px;
    border-bottom: 3px solid #333;
  }
  a:visited{
    color: #ccc;
  }

}