$sm-sz: "only screen and (max-width: 767px)";

ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
  &:hover{
    color: #000;
  }
}

body{
  margin-top: 70px;
  font-family: 'Maven Pro', sans-serif;
}
.container-fluid{
  margin: 0 5%;
}
.navbar-brand{
  padding: 0;
  img{
    max-height: 100%;
    width: auto;
  }
}
.collapse{
  .navbar-nav{
    margin-left: 5%;
    @media #{$sm-sz}{
      margin: 0;
      text-align: center;
    }
  }
}

.categorias > li{
  border-right: 1px solid #ddd;
  &:first-of-type{
    border-left: 1px solid #ddd;
    @media #{$sm-sz}{
      border: 0;
    }
  }
  > a{
    padding: 17px;
  }
}

.glyphicon{
  font-size: 20px;
}

#search-form{
  position: relative;
  @media (max-width:935px) and (min-width:768px) {
    display: none;
  }
  button{
    position: absolute;
    right: 0;
    top: 0;
  }
  .glyphicon-search{
    font-size: 15px;
  }
}

#searchBtn{
  display: none;
}

.dropdown-menu{
  min-width: 0;
  max-width: 400px;
  .categoria-bloco{
    float: left;
  }
  ul > li:hover{
    background: #ddd;
  }
  @media #{$sm-sz}{
    text-align: center;
    max-width: none;
  }
}

#dropdown-user{
  left: -45px;
  right: none;
  text-align: center;
  min-width: 140px;
  width: auto;
}

.iconsPersist{
  margin: 2.5px 7px;
}
.iconSm{
  float:left;
  padding: 9px 14px;
  a{
    color: #999;
  }
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.nav .iconLg {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.t-sub-menu{
  position: relative;
  > .dropdown-menu{
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  &:hover > .dropdown-menu{
    display: block;
  }
}

.caret-right{
   transform: rotate(270deg);
}