@import "variaveis";

/* ============================== Home ================================= */

.container-full{
	max-width: 1330px;
	margin: 0 auto;
	img{
		width: 100%;
	}
}

.row{
	margin-bottom: 10px;
}

[class*='col-']{
  padding: 0 5px;
}

#myCarousel img{
  max-height: 500px;
  min-height: 500px;
  @media #{$desktop}{
    max-height: 400px;
	min-height: 400px;
  }
  @media #{$tablet}{
    max-height: 330px;
	min-height: 330px;
  }
}

.home img{
	width: 100%;
}

.banners2{
  img:first-of-type{
  	padding-bottom: 10px;
  }
  .imgChange{
    max-height: 177px;
    @media #{$desktop}{
    	max-height: 146px;
    }
  }
}

.anuncio img{
	&:nth-of-type(1){
		display: none;
		@media #{$no-mobile}{
			display: block;
		}
	}
	&:nth-of-type(2){
		display: block;
		@media #{$no-mobile}{
			display: none;
		}
	}
}