@import "compass";

//Media queries
$xs-size: "only screen and (max-width: 576px)";
$sm-size: "only screen and (min-width: 576px)";
$md-size: "only screen and (min-width: 768px)";
$lg-size: "only screen and (min-width: 992px)";

//Limita imagens ao seu container
img{
	width: 100%;
}

//Cria espaço entre seções
.row{
	margin-bottom: 20px;
}

//CARROSSEL DE MARCAS
//Esconde parte do carrossel e faz ajustes
.carousel-hidden{
	display: block;
	overflow: hidden;
}

//Evita quebra de linha
.carousel-nowrap{
	white-space: nowrap;
}

//Muda comportamento de elementos
.carousel-nowrap .col-md-1{
	display: inline-block;
	float: none;
	padding: 0 10px;
}

//Posiciona botões de controle das marcas
[id*='btnMarca']{
	position: absolute;
	top: 20%;
	z-index: 1;
}
#btnMarcaNext{
	right: 0;
}

#btnMarcaPrev{
	left: 0;
}

//CARROSSEL DE SLIDES BOOTSTRAP
//Para lidar com imagens de tamanhos diferentes no carrossel
#myCarousel img{
	max-height: 400px;
	min-height: 400px;
	@media #{$xs-size}{
    max-height: 150px;
	  min-height: 150px;
  }
  @media #{$sm-size}{
    max-height: 250px;
	  min-height: 250px;
  }
  @media #{$md-size}{
    max-height: 280px;
	  min-height: 280px;
  }
  @media #{$lg-size}{
    max-height: 400px;
	  min-height: 400px;
  }
}