.item-area{
  img{
    width: 100%;
  }
}
.preview{
  img{
    margin: 8px 0;
  }
  img:first-of-type{
    margin: 0;
  }
}
.item-area{
  .info{
    padding-left: 20px;
  }
}

.form-sec{
  border-left: 5px solid #777;
  padding-left: 10px;
}

.media-left{
  img{
    width: 64px;
  }
}

.media{
  margin: 15px;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

.avaliacao-item span{
  font-size: 30px;
}

.carrossel-overfl{
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.carrossel{
  white-space: nowrap;
  transition: 1s;
  .content{
    display: inline-block;
    float: none;
  }
}
.after-item1{
  position: relative;
  @media only screen and (max-width: 992px) {
    display: none;
  }
  [class*='btnCtrl']{
    position: absolute;
    top: 260px;
    border: 3px solid #fff;
    border-radius: 40%;
    background: #fff;
    padding: 20px;
    outline: 0;
    span{
      font-size: 20px;
      color: #777;
    }
  }
  .btnCtrlNext{
    right: 0;
  }
  .btnCtrlPrev{
    left: 10px;
  }
}