.carrossel-container{
  position: relative;
  [class*='btnCtrl']{
    position: absolute;
    top: 260px;
    border: 3px solid #fff;
    border-radius: 40%;
    background: #fff;
    padding: 20px;
    outline: 0;
    span{
      color: #777;
    }
  }
  .btnCtrlNext{
    right: 0;
  }
  .btnCtrlPrev{
    left: 10px;
  }
}

.carrossel-overfl{
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.carrossel{
  white-space: nowrap;
  transition: 1s;
  .content{
    display: inline-block;
    float: none;
  }
}