<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Configurações básicas -->
    <meta charset="UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	<title>Explore os Planetas</title>
    <meta name="author" content="Camila Nuttoc"/>
    <meta name="description" content=""/>
  
    <!-- Facebook -->
    <meta property="og:image" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
  
    <!-- Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image" content=""/>
  
    <!-- Style -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
    <link href="/stylesheets/home.css" type="text/css" rel="stylesheet"/>
  
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
  				<img src="https://s.lamandinne.com.br/hibrido/slider/banner_pulseira_copy_copy-4.png" 
				       alt="Lançamentos verão 2018"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-4 col-xs-12">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-4 col-xs-12">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-4 col-xs-12">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-md-3 col-xs-6">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-12">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-4">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-xs-4">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  			<div class="col-xs-4">
  				<img src="https://ae01.alicdn.com/kf/HTB1poOFSpXXXXcxXXXXq6xXFXXXW/New-Fashion-Spring-Summer-Men-font-b-Daenerys-b-font-Targaryen-T-font-b-Shirt-b.jpg"/>
  			</div>
  		</div>
  	</div>
  </body>
</html>