/* ============================== Carrinho ================================= */
/* line 5, ../sass/carrinho.scss */
#meuCarrinho {
  border-left: 8px solid #aaa;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 20px 15px;
}

/* line 11, ../sass/carrinho.scss */
.row-titulos {
  margin: 0 10px;
}
/* line 13, ../sass/carrinho.scss */
.row-titulos h4 {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 0 8px 0 0;
}

/* line 21, ../sass/carrinho.scss */
.row-carrinho {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  position: relative;
}
/* line 26, ../sass/carrinho.scss */
.row-carrinho img {
  width: 100px;
  float: left;
  border-radius: 5px;
}
/* line 31, ../sass/carrinho.scss */
.row-carrinho .info {
  margin-left: 110px;
}
/* line 34, ../sass/carrinho.scss */
.row-carrinho form {
  width: 210px;
}
@media only screen and (max-width: 767px) {
  /* line 34, ../sass/carrinho.scss */
  .row-carrinho form {
    margin-left: 10px;
  }
}
/* line 40, ../sass/carrinho.scss */
.row-carrinho select {
  width: 25%;
}

/* line 45, ../sass/carrinho.scss */
[class*='tamanhos'] {
  margin-left: 0;
}

/* line 49, ../sass/carrinho.scss */
[class*='cores'] {
  margin: 10px 0;
}

@media only screen and (max-width: 370px) {
  /* line 53, ../sass/carrinho.scss */
  .labelBreak {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  /* line 59, ../sass/carrinho.scss */
  .valores-xs {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 59, ../sass/carrinho.scss */
  .valores-xs {
    margin-left: 110px;
  }
}

/* line 68, ../sass/carrinho.scss */
.trash {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  top: 20px;
  right: 20px;
  transition: .2s;
}
/* line 76, ../sass/carrinho.scss */
.trash span {
  color: #ccc;
  font-size: 15px;
  transition: .4s;
}
/* line 81, ../sass/carrinho.scss */
.trash:hover {
  right: 15px;
}
/* line 83, ../sass/carrinho.scss */
.trash:hover span {
  cursor: pointer;
  color: #777;
  font-size: 25px;
  transition: .8s;
}
/* line 90, ../sass/carrinho.scss */
.trash:first-child {
  top: 150px;
}
@media only screen and (max-width: 767px) {
  /* line 68, ../sass/carrinho.scss */
  .trash {
    right: 5px;
    top: 200px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 68, ../sass/carrinho.scss */
  .trash {
    right: 5px;
    top: 256px;
  }
}

/* line 103, ../sass/carrinho.scss */
.row-carrinho-bottom {
  padding: 20px;
  text-align: center;
}
/* line 106, ../sass/carrinho.scss */
.row-carrinho-bottom form {
  padding: 5px;
}
/* line 109, ../sass/carrinho.scss */
.row-carrinho-bottom input[type="submit"] {
  width: auto;
  padding: 4px;
  font-size: 12px;
}
/* line 114, ../sass/carrinho.scss */
.row-carrinho-bottom a {
  text-decoration: underline;
  color: #aaa;
  font-size: 12px;
}
/* line 119, ../sass/carrinho.scss */
.row-carrinho-bottom h3 {
  text-align: left;
}

/* line 124, ../sass/carrinho.scss */
.cupom {
  width: 50%;
}

/* line 128, ../sass/carrinho.scss */
.economia {
  float: right;
}

/* line 132, ../sass/carrinho.scss */
.preco-total {
  margin: 0;
  text-align: right;
}

/* line 137, ../sass/carrinho.scss */
.row-carrinho-vazio {
  display: none;
}
/* line 139, ../sass/carrinho.scss */
.row-carrinho-vazio div {
  text-align: center;
}
/* line 142, ../sass/carrinho.scss */
.row-carrinho-vazio a {
  width: auto;
}
