/* line 1, ../sass/categoria.scss */
.pagination > li {
  display: inline-block;
}

/* line 5, ../sass/categoria.scss */
.categoria-filter {
  padding: 0;
  float: left;
}
/* line 8, ../sass/categoria.scss */
.categoria-filter label {
  font-weight: 500;
}
/* line 11, ../sass/categoria.scss */
.categoria-filter .categoria {
  margin-bottom: 20px;
  list-style-type: none;
  width: 100%;
  float: left;
}
/* line 16, ../sass/categoria.scss */
.categoria-filter .categoria .form-check {
  margin-right: 20px;
  float: left;
}

/* line 23, ../sass/categoria.scss */
.ad {
  margin-bottom: 20px;
  max-width: 80%;
}

/* line 28, ../sass/categoria.scss */
.path-categoria {
  color: #aaa;
  padding-left: 10px;
}
/* line 31, ../sass/categoria.scss */
.path-categoria a {
  color: #aaa;
}
/* line 33, ../sass/categoria.scss */
.path-categoria a:hover {
  color: #000;
}

/* line 39, ../sass/categoria.scss */
select {
  border-radius: 5px 5px 0 0;
  outline: none;
  padding-right: 10px;
}
/* line 43, ../sass/categoria.scss */
select option {
  outline: none;
}

/* line 49, ../sass/categoria.scss */
.row-categoria hr {
  margin-top: 15px;
}

/* line 54, ../sass/categoria.scss */
.shown-filtro {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  background: #fff;
  z-index: 3;
  display: block;
  width: 100%;
  padding: 0 10%;
}

/* line 64, ../sass/categoria.scss */
.toggleFiltro {
  background: none;
  border: none;
  outline: none;
}

/* line 70, ../sass/categoria.scss */
.filtroBtn {
  background: #fff;
  z-index: 4;
  left: 0;
  transition: all .6s;
}

/* line 77, ../sass/categoria.scss */
.filtrarBtn {
  width: 100%;
}
