/* line 1, ../sass/footer.scss */
footer {
  background: #111;
  padding: 20px;
}
/* line 5, ../sass/footer.scss */
footer .row {
  margin: 0;
}
/* line 9, ../sass/footer.scss */
footer [class*='col-'] {
  padding: 15px;
  color: #ccc;
}
/* line 14, ../sass/footer.scss */
footer h4 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 3px solid #333;
}
/* line 19, ../sass/footer.scss */
footer a, footer a:hover, footer a:visited {
  color: #aaa;
}
