/* line 1, ../sass/header.scss */
ul {
  list-style-type: none;
  padding: 0;
}

/* line 5, ../sass/header.scss */
a {
  text-decoration: none;
  color: black;
}
/* line 8, ../sass/header.scss */
a:hover {
  color: #000;
}

/* line 13, ../sass/header.scss */
body {
  margin-top: 70px;
}

/* line 16, ../sass/header.scss */
.container-fluid {
  margin: 0 5%;
}

/* line 19, ../sass/header.scss */
.navbar-brand {
  padding: 0;
}
/* line 21, ../sass/header.scss */
.navbar-brand img {
  max-height: 100%;
  width: auto;
}

/* line 26, ../sass/header.scss */
.navbar-nav {
  margin-left: 5%;
}
/* line 28, ../sass/header.scss */
.navbar-nav > li > a {
  padding: 12px;
}

/* line 32, ../sass/header.scss */
.categorias > li {
  border-right: 1px solid #ddd;
}
/* line 34, ../sass/header.scss */
.categorias > li:first-of-type {
  border-left: 1px solid #ddd;
}
/* line 37, ../sass/header.scss */
.categorias > li a {
  padding: 13px;
}

/* line 42, ../sass/header.scss */
.glyphicon {
  font-size: 20px;
}

/* line 46, ../sass/header.scss */
#search-form {
  position: relative;
}
@media (max-width: 935px) and (min-width: 768px) {
  /* line 46, ../sass/header.scss */
  #search-form {
    display: none;
  }
}
/* line 51, ../sass/header.scss */
#search-form button {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 56, ../sass/header.scss */
#search-form .glyphicon-search {
  font-size: 15px;
}

/* line 61, ../sass/header.scss */
#searchBtn {
  display: none;
}

/* line 65, ../sass/header.scss */
.dropdown-menu {
  min-width: 0;
  max-width: 190px;
  width: 190px;
}
/* line 69, ../sass/header.scss */
.dropdown-menu .categoria-bloco {
  float: left;
}
/* line 72, ../sass/header.scss */
.dropdown-menu ul > li:hover {
  background: #ddd;
}

/* line 77, ../sass/header.scss */
#dropdown-user {
  left: -45px;
  right: none;
  text-align: center;
  min-width: 140px;
  width: auto;
}
