@charset "UTF-8";
/* =================== Configura├º├Áes gerais ===================  */
/* line 5, ../sass/header.scss */
body {
  margin-top: 50px;
  font-family: 'Maven Pro', sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 5, ../sass/header.scss */
  body {
    margin-top: 100px;
  }
}

/* line 13, ../sass/header.scss */
ul {
  list-style-type: none;
  padding: 0;
}

/* line 18, ../sass/header.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 23, ../sass/header.scss */
.glyphicon {
  font-size: 20px;
}

/* line 27, ../sass/header.scss */
input[type="text"] {
  outline: 0;
  border-radius: 5px;
}

/* line 32, ../sass/header.scss */
select {
  border-radius: 5px 5px 0 0;
  outline: none;
  padding-right: 10px;
  border: 1px solid #aaa;
  color: #555;
}
/* line 38, ../sass/header.scss */
select option {
  outline: none;
}

/* line 43, ../sass/header.scss */
.form-sec {
  border-left: 5px solid #aaa;
}
/* line 45, ../sass/header.scss */
.form-sec * {
  margin-left: 10px;
  display: inline-block;
}
/* line 49, ../sass/header.scss */
.form-sec form {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  /* line 43, ../sass/header.scss */
  .form-sec {
    border: 0;
  }
  /* line 54, ../sass/header.scss */
  .form-sec button, .form-sec label:first-of-type {
    margin-left: 0;
  }
}

/* ========================= Header ===========================  */
/* line 63, ../sass/header.scss */
header .container {
  position: relative;
}
/* line 66, ../sass/header.scss */
header .pull-right {
  margin: 2.5px 7px;
}

/* line 70, ../sass/header.scss */
.navbar-brand {
  padding: 0;
}
/* line 72, ../sass/header.scss */
.navbar-brand img {
  max-height: 100%;
}

/* line 77, ../sass/header.scss */
.collapse {
  text-align: center;
}
/* line 79, ../sass/header.scss */
.collapse .categorias {
  margin-left: 5%;
  transition: .5s;
}
@media only screen and (max-width: 767px) {
  /* line 79, ../sass/header.scss */
  .collapse .categorias {
    margin: 0;
  }
}
/* line 85, ../sass/header.scss */
.collapse .categorias .dropdown-menu li {
  border-top: 1px solid #eeefff;
}
@media only screen and (max-width: 767px) {
  /* line 85, ../sass/header.scss */
  .collapse .categorias .dropdown-menu li {
    border-top: 1px solid #333;
  }
}
/* line 90, ../sass/header.scss */
.collapse .categorias .dropdown-menu li:first-of-type {
  border-top: 0;
}
/* line 94, ../sass/header.scss */
.collapse .categorias .open .dropdown-menu > li > a {
  padding: 6px 15px;
}
/* line 98, ../sass/header.scss */
.collapse .navbar-right {
  margin-right: 90px;
  width: 50%;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 98, ../sass/header.scss */
  .collapse .navbar-right {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 98, ../sass/header.scss */
  .collapse .navbar-right {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 98, ../sass/header.scss */
  .collapse .navbar-right {
    margin: 2.5%;
    width: 95%;
  }
}

/* line 116, ../sass/header.scss */
.collapsing {
  text-align: center;
}

/* line 120, ../sass/header.scss */
#dropdown-user {
  text-align: center;
  width: 250px;
  left: -100px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

/* line 128, ../sass/header.scss */
.icons {
  float: left;
  padding: 9px 14px;
}
/* line 131, ../sass/header.scss */
.icons a {
  color: #999;
}
@media only screen and (min-width: 768px) {
  /* line 128, ../sass/header.scss */
  .icons {
    position: absolute;
    top: 6px;
    right: 50px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 139, ../sass/header.scss */
  .icons:last-of-type {
    right: 0;
  }
}

/* line 146, ../sass/header.scss */
.botao-default {
  border: 3px solid #777;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 5px;
  transition: .3s;
}
/* line 155, ../sass/header.scss */
.botao-default:hover {
  color: #fff;
  background: #777;
}

/* line 162, ../sass/header.scss */
.categorias > li {
  border-right: 1px solid #ddd;
}
/* line 164, ../sass/header.scss */
.categorias > li:first-of-type {
  border-left: 1px solid #ddd;
}
@media only screen and (max-width: 767px) {
  /* line 164, ../sass/header.scss */
  .categorias > li:first-of-type {
    border: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 162, ../sass/header.scss */
  .categorias > li {
    border: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 174, ../sass/header.scss */
  .categorias > .dropdown {
    border-top: 1px solid #333;
  }
}

/* line 181, ../sass/header.scss */
.dropdown-menu {
  min-width: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
@media only screen and (min-width: 768px) {
  /* line 185, ../sass/header.scss */
  .dropdown-menu .caret {
    transform: rotate(270deg);
  }
}

/* line 193, ../sass/header.scss */
.sub-menu-1 > .dropdown-menu {
  top: -8px;
  left: 100%;
}

@media only screen and (max-width: 767px) {
  /* line 199, ../sass/header.scss */
  .sub-menu-2 li {
    background: #333;
    border-bottom: 1px solid #222;
  }
}

/* line 206, ../sass/header.scss */
.caret {
  color: #aaa;
}

/* line 210, ../sass/header.scss */
#search-form {
  position: relative;
  width: 100%;
}
/* line 213, ../sass/header.scss */
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 218, ../sass/header.scss */
#search-form .glyphicon-search {
  font-size: 15px;
}
/* line 221, ../sass/header.scss */
#search-form input[type="text"] {
  width: 300px;
  float: right;
  transition: .5s;
}
/* line 225, ../sass/header.scss */
#search-form input[type="text"]:focus {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 221, ../sass/header.scss */
  #search-form input[type="text"] {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 221, ../sass/header.scss */
  #search-form input[type="text"] {
    width: 100%;
  }
}

/* line 237, ../sass/header.scss */
#cancelBtn {
  z-index: 1;
  display: none;
}

/* line 242, ../sass/header.scss */
#searchBtn {
  display: none;
}
/* line 244, ../sass/header.scss */
#searchBtn > a {
  padding: 5px 10px;
}
