/* line 10, ../sass/home.scss */
img {
  width: 100%;
}

/* line 15, ../sass/home.scss */
.row {
  margin-bottom: 20px;
}

/* line 21, ../sass/home.scss */
.carousel-hidden {
  display: block;
  overflow: hidden;
}

/* line 27, ../sass/home.scss */
.carousel-nowrap {
  white-space: nowrap;
}

/* line 32, ../sass/home.scss */
.carousel-nowrap .col-md-1 {
  display: inline-block;
  float: none;
  padding: 0 10px;
}

/* line 39, ../sass/home.scss */
[id*='btnMarca'] {
  position: absolute;
  top: 20%;
  z-index: 1;
}

/* line 44, ../sass/home.scss */
#btnMarcaNext {
  right: 0;
}

/* line 48, ../sass/home.scss */
#btnMarcaPrev {
  left: 0;
}

/* line 54, ../sass/home.scss */
#myCarousel img {
  max-height: 400px;
  min-height: 400px;
}
@media only screen and (max-width: 576px) {
  /* line 54, ../sass/home.scss */
  #myCarousel img {
    max-height: 150px;
    min-height: 150px;
  }
}
@media only screen and (min-width: 576px) {
  /* line 54, ../sass/home.scss */
  #myCarousel img {
    max-height: 250px;
    min-height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 54, ../sass/home.scss */
  #myCarousel img {
    max-height: 280px;
    min-height: 280px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 54, ../sass/home.scss */
  #myCarousel img {
    max-height: 400px;
    min-height: 400px;
  }
}

/* line 77, ../sass/home.scss */
.thumbnail:hover {
  border: 1px solid #ffa500;
}
/* line 80, ../sass/home.scss */
.thumbnail h3 {
  font-size: 18px;
  margin: 5px 0 10px;
}
/* line 84, ../sass/home.scss */
.thumbnail .preco-original, .thumbnail .preco-desconto {
  display: block;
}
/* line 87, ../sass/home.scss */
.thumbnail .preco-original {
  text-decoration: line-through;
  font-size: 13px;
}
/* line 91, ../sass/home.scss */
.thumbnail .preco-desconto, .thumbnail button {
  font-size: 24px;
  margin-top: 8px;
}
/* line 95, ../sass/home.scss */
.thumbnail .favBtn {
  position: absolute;
  top: 3px;
  right: 12px;
}
/* line 100, ../sass/home.scss */
.thumbnail .comprarBtn {
  width: 100%;
}

/* line 106, ../sass/home.scss */
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

/* line 112, ../sass/home.scss */
[class*='col-'] {
  padding: 0 5px;
}
