@charset "UTF-8";
/* Modules e vari├íveis */
/* line 6, ../sass/modules/_avaliacao.scss */
.star1 {
  left: 5px;
}

/* line 6, ../sass/modules/_avaliacao.scss */
.star2 {
  left: 35px;
}

/* line 6, ../sass/modules/_avaliacao.scss */
.star3 {
  left: 65px;
}

/* line 6, ../sass/modules/_avaliacao.scss */
.star4 {
  left: 95px;
}

/* line 6, ../sass/modules/_avaliacao.scss */
.star5 {
  left: 125px;
}

/* Partials */
/* Cross-page */
/* line 1, ../sass/partials/_gerais.scss */
body {
  margin-top: 50px;
  font-family: 'Maven Pro', sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 1, ../sass/partials/_gerais.scss */
  body {
    margin-top: 100px;
  }
}

/* line 9, ../sass/partials/_gerais.scss */
ul {
  list-style-type: none;
  padding: 0;
}

/* line 14, ../sass/partials/_gerais.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 19, ../sass/partials/_gerais.scss */
select {
  border-radius: 5px 5px 0 0;
  outline: none;
  padding-right: 10px;
  border: 1px solid #aaa;
  color: #555;
}
/* line 25, ../sass/partials/_gerais.scss */
select option {
  outline: none;
}

/* line 30, ../sass/partials/_gerais.scss */
input[type="text"] {
  outline: 0;
  border-radius: 5px;
}

/* line 35, ../sass/partials/_gerais.scss */
input[type="radio"], input[type="checkbox"] {
  opacity: 0;
}

/* line 39, ../sass/partials/_gerais.scss */
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

/* line 44, ../sass/partials/_gerais.scss */
.glyphicon {
  font-size: 20px;
}

/* line 48, ../sass/partials/_gerais.scss */
[class*='glyphicon-heart'] {
  font-size: 30px;
}

/* line 52, ../sass/partials/_gerais.scss */
.row {
  margin: 0;
  margin-bottom: 10px;
}

/* line 57, ../sass/partials/_gerais.scss */
[class*='col-'] {
  padding: 0;
}

/* line 61, ../sass/partials/_gerais.scss */
img {
  width: 100%;
}

/* line 1, ../sass/partials/_thumbnail.scss */
.thumbnail {
  border-color: #fff;
  text-align: center;
  position: relative;
  display: table;
  margin: 0 auto 10px auto;
  transition: 1s;
}
/* line 8, ../sass/partials/_thumbnail.scss */
.thumbnail:hover {
  filter: brightness(110%);
}
/* line 10, ../sass/partials/_thumbnail.scss */
.thumbnail:hover .comprarBtn {
  color: #fff;
  background: #665;
}
/* line 15, ../sass/partials/_thumbnail.scss */
.thumbnail img {
  width: auto;
  border-radius: 5px;
}
/* line 19, ../sass/partials/_thumbnail.scss */
.thumbnail h3 {
  font-size: 15px;
  font-weight: 800;
  margin: 5px 0 10px;
  min-height: 32px;
}
/* line 25, ../sass/partials/_thumbnail.scss */
.thumbnail button {
  font-size: 20px;
  margin-top: 8px;
  min-height: 18px;
}

/* line 32, ../sass/partials/_thumbnail.scss */
.comprarBtn {
  border: 4px solid #665;
  background: none;
  font-size: 15px;
  border-radius: 10px;
  transition: .3s;
}

/* line 40, ../sass/partials/_thumbnail.scss */
.wrapBtn {
  position: absolute;
  top: 11px;
  right: 14px;
}

/* line 46, ../sass/partials/_thumbnail.scss */
.favBtn {
  background: none;
  color: #555;
  border: none;
  outline: none;
  opacity: .2;
}
/* line 52, ../sass/partials/_thumbnail.scss */
.favBtn:hover {
  opacity: 1;
}

/* line 57, ../sass/partials/_thumbnail.scss */
.favText {
  position: absolute;
  font-size: 17px;
  bottom: 25px;
  right: 0;
  font-weight: 800;
}

/* line 1, ../sass/partials/_categorias.scss */
#categorias-bottom {
  padding: 10px;
  text-align: center;
}

/* line 6, ../sass/partials/_categorias.scss */
.titulo-categoria {
  display: inline-block;
  color: #333;
  font-size: 12px;
  font-weight: 800;
  background: none;
  border: 4px solid #555;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}
/* line 16, ../sass/partials/_categorias.scss */
.titulo-categoria a {
  color: #555;
  padding: 10px;
  display: block;
  transition: .3s;
}
/* line 21, ../sass/partials/_categorias.scss */
.titulo-categoria a:hover {
  color: white;
  background: #555;
}

/* line 1, ../sass/partials/_tituloLineAround.scss */
.limit-heading {
  width: 60%;
  margin: 50px auto 0 auto;
}
/* line 4, ../sass/partials/_tituloLineAround.scss */
.limit-heading h2 {
  position: relative;
  text-align: center;
}
/* line 7, ../sass/partials/_tituloLineAround.scss */
.limit-heading h2:before {
  content: "";
  display: block;
  border-top: 7px solid #555;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
/* line 17, ../sass/partials/_tituloLineAround.scss */
.limit-heading h2 span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

/* line 1, ../sass/partials/_precos.scss */
[class*='preco-'] {
  display: block;
}

/* line 4, ../sass/partials/_precos.scss */
.preco-original {
  text-decoration: line-through;
  font-size: 15px;
  min-height: 18px;
}

/* line 9, ../sass/partials/_precos.scss */
.preco-desconto {
  font-size: 20px;
  margin-top: 8px;
  min-height: 18px;
}

/* line 1, ../sass/partials/_form.scss */
.form-sec {
  border-left: 5px solid #aaa;
}
/* line 3, ../sass/partials/_form.scss */
.form-sec * {
  margin-left: 10px;
  display: inline-block;
}
/* line 7, ../sass/partials/_form.scss */
.form-sec form {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/partials/_form.scss */
  .form-sec {
    border: 0;
  }
  /* line 12, ../sass/partials/_form.scss */
  .form-sec button, .form-sec label:first-of-type {
    margin-left: 0;
  }
}

/* line 1, ../sass/partials/_radio.scss */
.button {
  position: relative;
  cursor: pointer;
}
/* line 4, ../sass/partials/_radio.scss */
.button > span {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -7px;
  right: 5px;
  z-index: 4;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #eee;
  box-shadow: 0 0 3px #333;
  transition: ease .3s;
}
/* line 16, ../sass/partials/_radio.scss */
.button > span > span {
  position: absolute;
  top: 2px;
  right: 3px;
}

/* line 24, ../sass/partials/_radio.scss */
.azul .button > span {
  background: steelblue;
}

/* line 28, ../sass/partials/_radio.scss */
.preto .button > span {
  background: #000;
}

/* line 32, ../sass/partials/_radio.scss */
.branco .button > span {
  border: 2px solid #ccc;
}

/* line 36, ../sass/partials/_radio.scss */
.tamanho .button > span {
  background: #ddd;
}
/* line 38, ../sass/partials/_radio.scss */
.tamanho .button > span > span {
  top: 0;
  right: 5px;
  color: #aaa;
}

/* line 45, ../sass/partials/_radio.scss */
[class*='tamanhos'] {
  margin-left: 0;
}

/* line 49, ../sass/partials/_radio.scss */
[class*='cores'] {
  margin: 10px 0;
}

/* line 1, ../sass/partials/_botao.scss */
.botao-default {
  border: 3px solid #777;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 5px;
  transition: .3s;
}
/* line 10, ../sass/partials/_botao.scss */
.botao-default:hover {
  color: #fff;
  background: #777;
}

/* Espec├¡fico */
/* line 1, ../sass/partials/header/_collapse.scss */
.collapse {
  text-align: center;
}
/* line 3, ../sass/partials/header/_collapse.scss */
.collapse .categorias {
  margin-left: 5%;
  transition: .5s;
}
@media only screen and (max-width: 767px) {
  /* line 3, ../sass/partials/header/_collapse.scss */
  .collapse .categorias {
    margin: 0;
  }
}
/* line 9, ../sass/partials/header/_collapse.scss */
.collapse .categorias .dropdown-menu li {
  border-top: 1px solid #eeefff;
}
@media only screen and (max-width: 767px) {
  /* line 9, ../sass/partials/header/_collapse.scss */
  .collapse .categorias .dropdown-menu li {
    border-top: 1px solid #333;
  }
}
/* line 14, ../sass/partials/header/_collapse.scss */
.collapse .categorias .dropdown-menu li:first-of-type {
  border-top: 0;
}
/* line 18, ../sass/partials/header/_collapse.scss */
.collapse .categorias .open .dropdown-menu > li > a {
  padding: 6px 15px;
}
/* line 22, ../sass/partials/header/_collapse.scss */
.collapse .navbar-right {
  margin-right: 90px;
  width: 50%;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 22, ../sass/partials/header/_collapse.scss */
  .collapse .navbar-right {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 22, ../sass/partials/header/_collapse.scss */
  .collapse .navbar-right {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 22, ../sass/partials/header/_collapse.scss */
  .collapse .navbar-right {
    margin: 2.5%;
    width: 95%;
  }
}

/* line 40, ../sass/partials/header/_collapse.scss */
.collapsing {
  text-align: center;
}

/* line 1, ../sass/partials/header/_menus.scss */
#dropdown-user {
  text-align: center;
  width: 250px;
  left: -100px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

/* line 9, ../sass/partials/header/_menus.scss */
.icons {
  float: left;
  padding: 9px 14px;
}
/* line 12, ../sass/partials/header/_menus.scss */
.icons a {
  color: #999;
}
@media only screen and (min-width: 768px) {
  /* line 9, ../sass/partials/header/_menus.scss */
  .icons {
    position: absolute;
    top: 6px;
    right: 50px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 20, ../sass/partials/header/_menus.scss */
  .icons:last-of-type {
    right: 0;
  }
}

/* line 28, ../sass/partials/header/_menus.scss */
.categorias > li {
  border-right: 1px solid #ddd;
}
/* line 30, ../sass/partials/header/_menus.scss */
.categorias > li:first-of-type {
  border-left: 1px solid #ddd;
}
@media only screen and (max-width: 767px) {
  /* line 30, ../sass/partials/header/_menus.scss */
  .categorias > li:first-of-type {
    border: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 28, ../sass/partials/header/_menus.scss */
  .categorias > li {
    border: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 40, ../sass/partials/header/_menus.scss */
  .categorias > .dropdown {
    border-top: 1px solid #333;
  }
}

/* line 47, ../sass/partials/header/_menus.scss */
.dropdown-menu {
  min-width: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
@media only screen and (min-width: 768px) {
  /* line 51, ../sass/partials/header/_menus.scss */
  .dropdown-menu .caret {
    transform: rotate(270deg);
  }
}

/* line 59, ../sass/partials/header/_menus.scss */
.sub-menu-1 > .dropdown-menu {
  top: -8px;
  left: 100%;
}

@media only screen and (max-width: 767px) {
  /* line 65, ../sass/partials/header/_menus.scss */
  .sub-menu-2 li {
    background: #333;
    border-bottom: 1px solid #222;
  }
}

/* line 72, ../sass/partials/header/_menus.scss */
.caret {
  color: #aaa;
}

/* line 1, ../sass/partials/header/_search.scss */
#search-form {
  position: relative;
  width: 100%;
}
/* line 4, ../sass/partials/header/_search.scss */
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 9, ../sass/partials/header/_search.scss */
#search-form .glyphicon-search {
  font-size: 15px;
}
/* line 12, ../sass/partials/header/_search.scss */
#search-form input[type="text"] {
  width: 300px;
  float: right;
  transition: .5s;
}
/* line 16, ../sass/partials/header/_search.scss */
#search-form input[type="text"]:focus {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 12, ../sass/partials/header/_search.scss */
  #search-form input[type="text"] {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../sass/partials/header/_search.scss */
  #search-form input[type="text"] {
    width: 100%;
  }
}

/* line 28, ../sass/partials/header/_search.scss */
#cancelBtn {
  z-index: 1;
  display: none;
}

/* line 33, ../sass/partials/header/_search.scss */
#searchBtn {
  display: none;
}
/* line 35, ../sass/partials/header/_search.scss */
#searchBtn > a {
  padding: 5px 10px;
}

/* line 7, ../sass/partials/header/_header.scss */
header .container {
  position: relative;
}
/* line 10, ../sass/partials/header/_header.scss */
header .pull-right {
  margin: 2.5px 7px;
}

/* line 16, ../sass/partials/header/_header.scss */
.navbar-brand {
  padding: 0;
}
/* line 18, ../sass/partials/header/_header.scss */
.navbar-brand img {
  max-height: 100%;
  width: auto;
}

/* line 2, ../sass/partials/home/_home.scss */
.container-full {
  max-width: 1360px;
  margin: 0 auto;
}

/* line 8, ../sass/partials/home/_home.scss */
#myCarousel img {
  max-height: 500px;
  min-height: 500px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 8, ../sass/partials/home/_home.scss */
  #myCarousel img {
    max-height: 400px;
    min-height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 8, ../sass/partials/home/_home.scss */
  #myCarousel img {
    max-height: 330px;
    min-height: 330px;
  }
}

/* line 23, ../sass/partials/home/_home.scss */
.banners2 .imgChange {
  min-height: 178px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 23, ../sass/partials/home/_home.scss */
  .banners2 .imgChange {
    min-height: 147px;
  }
}

/* line 33, ../sass/partials/home/_home.scss */
.anuncio img:nth-of-type(1) {
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 33, ../sass/partials/home/_home.scss */
  .anuncio img:nth-of-type(1) {
    display: block;
  }
}
/* line 39, ../sass/partials/home/_home.scss */
.anuncio img:nth-of-type(2) {
  display: block;
}
@media only screen and (min-width: 768px) {
  /* line 39, ../sass/partials/home/_home.scss */
  .anuncio img:nth-of-type(2) {
    display: none;
  }
}

/* line 1, ../sass/partials/carrinho/_item.scss */
.row-carrinho {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  position: relative;
}
/* line 6, ../sass/partials/carrinho/_item.scss */
.row-carrinho img {
  width: 100px;
  float: left;
  border-radius: 5px;
}
/* line 11, ../sass/partials/carrinho/_item.scss */
.row-carrinho .info {
  margin-left: 110px;
}
/* line 14, ../sass/partials/carrinho/_item.scss */
.row-carrinho form {
  width: 210px;
}
@media only screen and (max-width: 767px) {
  /* line 14, ../sass/partials/carrinho/_item.scss */
  .row-carrinho form {
    margin-left: 10px;
  }
}
/* line 20, ../sass/partials/carrinho/_item.scss */
.row-carrinho select {
  width: 25%;
}

/* line 1, ../sass/partials/carrinho/_lixo.scss */
.trash {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  top: 20px;
  right: 20px;
  transition: .2s;
}
/* line 9, ../sass/partials/carrinho/_lixo.scss */
.trash span {
  color: #ccc;
  font-size: 15px;
  transition: .4s;
}
/* line 14, ../sass/partials/carrinho/_lixo.scss */
.trash:hover {
  right: 15px;
}
/* line 16, ../sass/partials/carrinho/_lixo.scss */
.trash:hover span {
  cursor: pointer;
  color: #777;
  font-size: 25px;
  transition: .8s;
}
/* line 23, ../sass/partials/carrinho/_lixo.scss */
.trash:first-child {
  top: 150px;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/partials/carrinho/_lixo.scss */
  .trash {
    right: 5px;
    top: 200px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 1, ../sass/partials/carrinho/_lixo.scss */
  .trash {
    right: 5px;
    top: 256px;
  }
}

/* line 1, ../sass/partials/carrinho/_resumo.scss */
.row-carrinho-bottom {
  padding: 20px;
  text-align: center;
}
/* line 4, ../sass/partials/carrinho/_resumo.scss */
.row-carrinho-bottom form {
  padding: 5px;
}
/* line 7, ../sass/partials/carrinho/_resumo.scss */
.row-carrinho-bottom input[type="submit"] {
  width: auto;
  padding: 4px;
  font-size: 12px;
}
/* line 12, ../sass/partials/carrinho/_resumo.scss */
.row-carrinho-bottom a {
  text-decoration: underline;
  color: #aaa;
  font-size: 12px;
}
/* line 17, ../sass/partials/carrinho/_resumo.scss */
.row-carrinho-bottom h3 {
  text-align: left;
}

/* line 6, ../sass/partials/carrinho/_carrinho.scss */
#meuCarrinho {
  border-left: 8px solid #aaa;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 20px 15px;
}

/* line 14, ../sass/partials/carrinho/_carrinho.scss */
.row-titulos {
  margin: 0 10px;
}
/* line 16, ../sass/partials/carrinho/_carrinho.scss */
.row-titulos h4 {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 0 8px 0 0;
}

@media only screen and (max-width: 370px) {
  /* line 26, ../sass/partials/carrinho/_carrinho.scss */
  .labelBreak {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  /* line 34, ../sass/partials/carrinho/_carrinho.scss */
  .valores-xs {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 34, ../sass/partials/carrinho/_carrinho.scss */
  .valores-xs {
    margin-left: 110px;
  }
}

/* line 44, ../sass/partials/carrinho/_carrinho.scss */
.cupom {
  width: 50%;
}

/* line 49, ../sass/partials/carrinho/_carrinho.scss */
.economia {
  float: right;
}

/* line 54, ../sass/partials/carrinho/_carrinho.scss */
.preco-total {
  margin: 0;
  text-align: right;
}

/* line 60, ../sass/partials/carrinho/_carrinho.scss */
.row-carrinho-vazio {
  display: none;
}
/* line 62, ../sass/partials/carrinho/_carrinho.scss */
.row-carrinho-vazio div {
  text-align: center;
}
/* line 65, ../sass/partials/carrinho/_carrinho.scss */
.row-carrinho-vazio a {
  width: auto;
}

/* line 1, ../sass/partials/show/_itemArea.scss */
.item-area {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 5, ../sass/partials/show/_itemArea.scss */
.item-area img {
  width: 100%;
}
/* line 8, ../sass/partials/show/_itemArea.scss */
.item-area .info {
  padding: 0 15px;
}
/* line 11, ../sass/partials/show/_itemArea.scss */
.item-area .preco-desconto {
  font-size: 30px;
  margin: 0;
}
/* line 15, ../sass/partials/show/_itemArea.scss */
.item-area form {
  width: 100%;
}

/* line 21, ../sass/partials/show/_itemArea.scss */
.preview img {
  width: 90%;
  margin: 5px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
/* line 28, ../sass/partials/show/_itemArea.scss */
.preview img:hover {
  border-color: #ccc;
}
/* line 31, ../sass/partials/show/_itemArea.scss */
.preview img:first-of-type {
  margin-top: 0;
}

/* line 37, ../sass/partials/show/_itemArea.scss */
.zoom {
  display: inline-block;
  position: relative;
}
/* line 40, ../sass/partials/show/_itemArea.scss */
.zoom img {
  display: block;
}

/* line 2, ../sass/partials/show/_informacoes.scss */
.nav-tabs > li:first-of-type > a {
  background: #777;
  color: #eee;
}
/* line 5, ../sass/partials/show/_informacoes.scss */
.nav-tabs > li:first-of-type > a:hover {
  border: 1px solid transparent;
}
/* line 9, ../sass/partials/show/_informacoes.scss */
.nav-tabs > li:last-of-type > a {
  color: #777;
}
/* line 11, ../sass/partials/show/_informacoes.scss */
.nav-tabs > li:last-of-type > a:hover {
  background: #aaa;
  color: #fff;
}

/* line 18, ../sass/partials/show/_informacoes.scss */
.tab-content {
  background: #eee;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

/* line 1, ../sass/partials/show/_carrossel.scss */
.carrossel-container {
  position: relative;
}
/* line 3, ../sass/partials/show/_carrossel.scss */
.carrossel-container [class*='btnCtrl'] {
  position: absolute;
  top: 260px;
  border: 3px solid #fff;
  border-radius: 40%;
  background: #fff;
  padding: 20px;
  outline: 0;
}
/* line 11, ../sass/partials/show/_carrossel.scss */
.carrossel-container [class*='btnCtrl'] span {
  color: #777;
}
/* line 15, ../sass/partials/show/_carrossel.scss */
.carrossel-container .btnCtrlNext {
  right: 0;
}
/* line 18, ../sass/partials/show/_carrossel.scss */
.carrossel-container .btnCtrlPrev {
  left: 10px;
}

/* line 23, ../sass/partials/show/_carrossel.scss */
.carrossel-overfl {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 29, ../sass/partials/show/_carrossel.scss */
.carrossel {
  white-space: nowrap;
  transition: 1s;
}
/* line 32, ../sass/partials/show/_carrossel.scss */
.carrossel .content {
  display: inline-block;
  float: none;
}

/* line 1, ../sass/partials/show/_avaliacao.scss */
.media {
  margin: 15px;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}
/* line 6, ../sass/partials/show/_avaliacao.scss */
.media img {
  width: 64px;
}

/* line 11, ../sass/partials/show/_avaliacao.scss */
.avaliacao-current-user {
  text-align: center;
}
/* line 13, ../sass/partials/show/_avaliacao.scss */
.avaliacao-current-user form {
  width: 95%;
  margin: 0 auto;
}
/* line 17, ../sass/partials/show/_avaliacao.scss */
.avaliacao-current-user textarea {
  width: 95%;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  resize: none;
  box-shadow: 0 0 20px #bbb;
  height: 100px;
}

/* line 30, ../sass/partials/show/_avaliacao.scss */
#abreLogin {
  border: 0;
  background: none;
  text-decoration: underline;
  outline: none;
}
/* line 35, ../sass/partials/show/_avaliacao.scss */
#abreLogin i {
  font-weight: 800;
}

/* line 40, ../sass/partials/show/_avaliacao.scss */
.avaliacao-user-online {
  position: relative;
  display: inline-block;
}
/* line 43, ../sass/partials/show/_avaliacao.scss */
.avaliacao-user-online .glyphicon-star {
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 47, ../sass/partials/show/_avaliacao.scss */
.avaliacao-user-online .glyphicon-star:hover {
  cursor: pointer;
  transform: scale(1.3);
}
/* line 52, ../sass/partials/show/_avaliacao.scss */
.avaliacao-user-online .glyphicon-star-empty {
  width: 30px;
}

/* line 2, ../sass/partials/categoria/_filtro.scss */
.hidden-filtro h3 {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  /* line 2, ../sass/partials/categoria/_filtro.scss */
  .hidden-filtro h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/partials/categoria/_filtro.scss */
  .hidden-filtro {
    display: none;
    padding: 0 10%;
  }
}

/* line 14, ../sass/partials/categoria/_filtro.scss */
.filtroBtn {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* line 20, ../sass/partials/categoria/_filtro.scss */
.shown-filtro {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

/* line 29, ../sass/partials/categoria/_filtro.scss */
.opcoes-filtro label {
  font-weight: 500;
}
/* line 32, ../sass/partials/categoria/_filtro.scss */
.opcoes-filtro .opcao {
  float: left;
  width: 100%;
}
/* line 35, ../sass/partials/categoria/_filtro.scss */
.opcoes-filtro .opcao .form-check {
  margin-right: 25px;
  float: left;
}

/* line 42, ../sass/partials/categoria/_filtro.scss */
.toggleFiltro {
  background: none;
  border: none;
  outline: none;
  position: relative;
  color: #555;
}

/* line 50, ../sass/partials/categoria/_filtro.scss */
.expand {
  font-size: 30px;
}

/* line 54, ../sass/partials/categoria/_filtro.scss */
.expand-adjust {
  position: absolute;
  top: 13px;
  margin-left: 10px;
}

/* line 60, ../sass/partials/categoria/_filtro.scss */
.openClose {
  margin-left: 10px;
}

/* line 65, ../sass/partials/categoria/_filtro.scss */
.filtrarBtn button {
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  /* line 65, ../sass/partials/categoria/_filtro.scss */
  .filtrarBtn button {
    width: 90%;
  }
}

/* line 1, ../sass/partials/categoria/_checkbox.scss */
.form-check-label {
  position: relative;
}

/* line 5, ../sass/partials/categoria/_checkbox.scss */
[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -3px;
  left: 2px;
}

/* line 12, ../sass/partials/categoria/_checkbox.scss */
.checkbox-default {
  position: absolute;
  left: -7px;
  padding: 8px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/* line 5, ../sass/partials/categoria/_categoria.scss */
.row-categoria {
  margin-top: 20px;
}
/* line 7, ../sass/partials/categoria/_categoria.scss */
.row-categoria hr {
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 7, ../sass/partials/categoria/_categoria.scss */
  .row-categoria hr {
    margin: 0;
  }
}

/* line 16, ../sass/partials/categoria/_categoria.scss */
.path-categoria {
  padding-left: 5px;
}
/* line 18, ../sass/partials/categoria/_categoria.scss */
.path-categoria * {
  color: #aaa;
}
/* line 21, ../sass/partials/categoria/_categoria.scss */
.path-categoria a:hover {
  color: #000;
}

/* line 27, ../sass/partials/categoria/_categoria.scss */
.ad {
  margin-bottom: 20px;
  max-width: 80%;
}
@media only screen and (max-width: 767px) {
  /* line 27, ../sass/partials/categoria/_categoria.scss */
  .ad {
    display: none;
  }
}

/* line 36, ../sass/partials/categoria/_categoria.scss */
.pagination > li {
  display: inline-block;
}
/* line 38, ../sass/partials/categoria/_categoria.scss */
.pagination > li a {
  border-radius: 10px;
  color: #777;
}

/* line 1, ../sass/partials/footer/_footer.scss */
footer {
  background: #111;
  padding: 20px;
}
/* line 5, ../sass/partials/footer/_footer.scss */
footer [class*='col-'] {
  padding: 15px;
  color: #ccc;
}
/* line 10, ../sass/partials/footer/_footer.scss */
footer h4 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 3px solid #333;
}
/* line 16, ../sass/partials/footer/_footer.scss */
footer a, footer a:hover, footer a:visited {
  color: #aaa;
}
