/* line 2, ../sass/show.scss */
.item-area img {
  width: 100%;
}

/* line 7, ../sass/show.scss */
.preview img {
  margin: 8px 0;
}
/* line 10, ../sass/show.scss */
.preview img:first-of-type {
  margin: 0;
}

/* line 15, ../sass/show.scss */
.item-area .info {
  padding-left: 20px;
}

/* line 20, ../sass/show.scss */
.form-sec {
  border-left: 5px solid #777;
  padding-left: 10px;
}

/* line 26, ../sass/show.scss */
.media-left img {
  width: 64px;
}

/* line 31, ../sass/show.scss */
.media {
  margin: 15px;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

/* line 38, ../sass/show.scss */
.avaliacao-item span {
  font-size: 30px;
}

/* line 42, ../sass/show.scss */
.carrossel-overfl {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 48, ../sass/show.scss */
.carrossel {
  white-space: nowrap;
  transition: 1s;
}
/* line 51, ../sass/show.scss */
.carrossel .content {
  display: inline-block;
  float: none;
}

/* line 56, ../sass/show.scss */
.after-item1 {
  position: relative;
}
@media only screen and (max-width: 992px) {
  /* line 56, ../sass/show.scss */
  .after-item1 {
    display: none;
  }
}
/* line 61, ../sass/show.scss */
.after-item1 [class*='btnCtrl'] {
  position: absolute;
  top: 260px;
  border: 3px solid #fff;
  border-radius: 40%;
  background: #fff;
  padding: 20px;
  outline: 0;
}
/* line 69, ../sass/show.scss */
.after-item1 [class*='btnCtrl'] span {
  font-size: 20px;
  color: #777;
}
/* line 74, ../sass/show.scss */
.after-item1 .btnCtrlNext {
  right: 0;
}
/* line 77, ../sass/show.scss */
.after-item1 .btnCtrlPrev {
  left: 10px;
}
