/* line 2, ../sass/show.scss */
.item-area img {
  width: 100%;
}

/* line 7, ../sass/show.scss */
.preview img {
  margin: 6.8% 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
/* line 13, ../sass/show.scss */
.preview img:hover {
  border-color: #ccc;
}
/* line 17, ../sass/show.scss */
.preview img:first-of-type {
  margin-top: 0;
}

/* line 21, ../sass/show.scss */
.item-area {
  width: 90%;
  margin: 0 auto;
}
/* line 24, ../sass/show.scss */
.item-area .info {
  padding-left: 20px;
}
/* line 26, ../sass/show.scss */
.item-area .info ul {
  padding-left: 15px;
}
/* line 30, ../sass/show.scss */
.item-area .preco-original {
  margin-top: 10px;
}
/* line 33, ../sass/show.scss */
.item-area .preco-desconto {
  font-size: 30px;
  margin: 0;
}

/* line 39, ../sass/show.scss */
.form-sec {
  border-left: 5px solid #777;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 39, ../sass/show.scss */
  .form-sec {
    border: 0;
  }
}
/* line 45, ../sass/show.scss */
.form-sec * {
  margin-left: 10px;
  display: inline-block;
}
/* line 49, ../sass/show.scss */
.form-sec form {
  margin: 0;
}

/* line 55, ../sass/show.scss */
.media-left img {
  width: 64px;
}

/* line 60, ../sass/show.scss */
.media {
  margin: 15px;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

/* line 67, ../sass/show.scss */
.avaliacao-item span {
  font-size: 20px;
}

/* line 71, ../sass/show.scss */
.carrossel-overfl {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 77, ../sass/show.scss */
.carrossel {
  white-space: nowrap;
  transition: 1s;
}
/* line 80, ../sass/show.scss */
.carrossel .content {
  display: inline-block;
  float: none;
}

/* line 85, ../sass/show.scss */
.after-item1 {
  position: relative;
}
@media only screen and (max-width: 992px) {
  /* line 85, ../sass/show.scss */
  .after-item1 {
    display: none;
  }
}
/* line 90, ../sass/show.scss */
.after-item1 [class*='btnCtrl'] {
  position: absolute;
  top: 260px;
  border: 3px solid #fff;
  border-radius: 40%;
  background: #fff;
  padding: 20px;
  outline: 0;
}
/* line 98, ../sass/show.scss */
.after-item1 [class*='btnCtrl'] span {
  font-size: 20px;
  color: #777;
}
/* line 103, ../sass/show.scss */
.after-item1 .btnCtrlNext {
  right: 0;
}
/* line 106, ../sass/show.scss */
.after-item1 .btnCtrlPrev {
  left: 10px;
}

/* line 111, ../sass/show.scss */
.tab-content {
  background: #eee;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

/* line 117, ../sass/show.scss */
.nav-tabs > li:first-of-type > a {
  background: #777;
  color: #eee;
}
/* line 120, ../sass/show.scss */
.nav-tabs > li:first-of-type > a:hover {
  background: #777;
  color: #eee;
  border: 1px solid transparent;
}

/* line 127, ../sass/show.scss */
.nav-tabs > li:last-of-type > a {
  background: transparent;
  color: #777;
}
/* line 130, ../sass/show.scss */
.nav-tabs > li:last-of-type > a:hover {
  background: #aaa;
  color: #fff;
}

/* line 136, ../sass/show.scss */
.botaoStyle {
  border: 3px solid #777;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 5px;
  transition: .3s;
}
/* line 145, ../sass/show.scss */
.botaoStyle:hover {
  color: #fff;
  background: #777;
}

/* line 150, ../sass/show.scss */
input[type='radio'] {
  outline: none;
}

/* line 153, ../sass/show.scss */
.button {
  position: relative;
  cursor: pointer;
}
/* line 156, ../sass/show.scss */
.button > span {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -7px;
  right: 5px;
  z-index: 4;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #eee;
  box-shadow: 0 0 1px #333;
  transition: ease .3s;
}
/* line 168, ../sass/show.scss */
.button > span > span {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  right: 3px;
  border-radius: 50%;
}

/* line 178, ../sass/show.scss */
.azul .button > span {
  background: steelblue;
}

/* line 181, ../sass/show.scss */
.preto .button > span {
  background: #000;
}

/* line 184, ../sass/show.scss */
.branco .button > span {
  border: 2px solid #ccc;
}

/* line 188, ../sass/show.scss */
.tamanho .button > span {
  background: #ddd;
}
/* line 190, ../sass/show.scss */
.tamanho .button > span > span {
  top: 0;
  right: 5px;
  color: #aaa;
}
