.row-carrinho{
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 20px 10px;
	position: relative;
	img{
		width: 100px;
		float: left;
		border-radius: 5px;
	}
	.info{
		margin-left: 110px;
	}
	form{
	  width: 210px;
	  @media #{$mobile-sm}{
      	margin-left: 10px;
      	width: 160px;
      }
	}
	select{
  		width: 25%;
	}
}