.trash{
	position: absolute;
	background: none;
	border: none;
	outline: none;
	top: 20px;
	right: 20px;
	transition: .2s;
	span{
		color: #ccc;
		font-size: 15px;
		transition: .4s;
	}
	&:hover{
		right: 15px;
		span{
			cursor: pointer;
			color: #777;
			font-size: 25px;
			transition: .8s;
		}
	}
	&:first-child{
		top: 150px;
	}
	@media #{$mobile}{
    right: 5px;
    top: 200px;
  }
  @media #{$mobile-sm}{
    right: 5px;
    top: 256px;
  }
}