.thumbnail{
  border-color: #fff;
  text-align: center;
  position: relative;
  display: table;
  margin: 0 auto 10px auto;
  &:hover{
    filter: brightness(110%);
    .comprarBtn{
      color: #fff;
      background: #665;
    }
  }
  img{
    width: auto;
    border-radius: 5px;
  }
  h3{
    font-size: 15px;
    font-weight: 800;
    margin: 5px 0 10px;
    min-height: 32px;
  }
  button{
    font-size: 20px;
    margin-top: 8px;
    min-height: 18px;
  }
}

.comprarBtn{
  border: 4px solid #665;
  background: none;
  font-size: 15px;
  border-radius: 10px;
  transition: .4s;
}

.wrapBtn{
  position: absolute;
  top: 11px;
  right: 14px;
  @media #{$mobile}{
    top: 3px;
    right: 7px;
  }
}

.favBtn{
  background: none;
  color: #555;
  border: none;
  outline: none;
  opacity: .2;
  &:hover{
      opacity: 1;
  }
}

.favText{
  position: absolute;
  font-size: 17px;
  bottom: 25px;
  right: 0;
  font-weight: 800;
}